* {
    margin: 0px;
}

html, body {
    /* background-color: #8F9491; */
    height: 100%;
}

#root {
    height: 100%;
}

.content {
    background-color: #E5CEDC;
    outline: 1px solid black;
}

.right {
    grid-area: right;
}

#main-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: fit-content(10%) 80% 10%;
    grid-template-areas: 
        "counter tabs"
        "cookie right"
        "footer footer"
    ;
}