.item {
    display: grid;
    grid-template-areas: 
        "icon name count"    
        "icon price count";
    grid-template-columns: 1fr 2fr 1fr;
    outline: 1px solid black;
}

.item > img {
    grid-area: icon;
    width: 100px;
    height: 100px;
}

.item > h1 {
    grid-area: name;
}

.item > h2 {
    grid-area: count;
}